<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>이름</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="search : ${searchAll}">
            <td><a href="/"
                   th:href="@{/api/user/view/{postId}(postId=${search.getId()})}"
                   th:text="${search.getId()}">순서</a></td>
            <td th:text="${search.getTitle()}"></td>
            <td th:text="${search.getAuthor()}"></td>
            <td th:text="${search.getDateCreate()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>