<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
</head>
<body>
<div class="main_form">
    <div class="form_list" id="form_item_save">

        <div>
            <label for="item_title">제목</label>
            <input type="text" id="item_title" th:value="${post.getTitle()}" readonly>


            <label for="item_username">작성자</label>
            <input type="text" id="item_username" th:value="${post.getAuthor()}" readonly>


            <label for="item_DateCreate">작성일</label>
            <input type="text" id="item_DateCreate" th:value="${post.getDateCreate()}" readonly>

            <label for="item_content">내용</label>
            <textarea name="content" id="item_content" rows="5" cols="40" th:text="${post.getWriting()}"
                      readonly></textarea>

            <button th:onclick="'deleteProduct(' + ${post.getId()} + ')'" >Delete</button>

            <div class="btn_account">
                <a href="/api/user/list">메인 페이지로 이동</a>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript" type="text/javascript">

    const deleteProduct = (id) => {
        axios.request({
            method: 'delete',
            url: '/api/user/' + id
        }).then((response) => {
            window.location.href = "/api/user/list"
        }).catch((error) => {
            console.error(error);
        });
    }

</script>

</body>
</html>